<template>
<div id="changeAward" class="col-md-10">
	<form id="changeAwardForm" action='eventComment.do' method="post">

		<h5 style="text-align: center;">Modify Award</h5>
		<div class="form-group">
			<label for="eventname">Award Amount</label> <input class="form-control"
				type="number" name="amount" required="required">
		</div>
		<div class="form-group">
			<label for="description">Justification</label>
			<textarea name="message" class="form-control" rows="3" id="comment"></textarea>
		</div>
		<button type="Apply" class="btn btn-primary">Apply</button>
	</form>
</div>
</template>