<template>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex">

	<!-- Brand -->
	<a class="navbar-brand p-2" href="/Project1/home">Home</a>
	<!-- Links -->
	<ul class="navbar-nav p-2">
		<!-- Dropdown -->
		<li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
			href="#" id="navbardrop" data-toggle="dropdown">Notifications</a>
			<div id="navMessageDiv" class="dropdown-menu msection">
				
			</div></li>
	</ul>


	<div class="ml-auto p-2">
		<form action='logout.do' method="post">
			<button type="submit" class="btn btn-warning">Logout</button>
		</form>
	</div>
</nav>
</template>