<template>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<!-- Brand -->
	<a class="navbar-brand" href="#">Logo</a>
	<!-- Links -->
	<ul class="navbar-nav">
		<!-- Dropdown -->
		<li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
			href="#" id="navbardrop" data-toggle="dropdown"> Dropdown link </a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">User View</a> <a
					class="dropdown-item" href="#">Reimbursement Request</a> <a
					class="dropdown-item" href="#">Employee Requests</a><a
					class="dropdown-item" href="#">Supervisor View</a> <a
					class="dropdown-item" href="#">Reimbursement Confirm</a>
			</div></li>
	</ul>

	<div align="right">
		<a class="btn btn-warning " onclick="logout()">Logout</a>
	</div>

</nav>
</template>