<template> <br>
<div class="row justify-content-center">
	<div class="col-sm-10">
		<h5>Subordinate Reimbursements</h5>
		<div class="rsection" style="padding: 0px">
		
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-outline-secondary active"> <input type="radio"
					name="options" id="option1" autocomplete="off" checked> All
				</label> 
				<label class="btn btn-outline-secondary"> <input type="radio"
					name="options" id="option2" autocomplete="off"> Updated
				</label> 
				<label class="btn btn-outline-secondary"> <input type="radio"
					name="options" id="option2" autocomplete="off"> PreApproval
				</label> 
				<label class="btn btn-outline-secondary"> <input type="radio"
					name="options" id="option3" autocomplete="off"> UnConfirmed
				</label>
				<label class="btn btn-outline-secondary"> <input type="radio"
					name="options" id="option3" autocomplete="off"> Resolved
				</label>
			</div>
			
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Event Id</th>
						<th>Employee</th>
						<th>Name</th>
						<th>Type</th>
						<th>Amount</th>
						<th>Date</th>
						<th>Status</th>
					</tr>
				</thead>

				<tbody id="subTableBody"></tbody>
			</table>
		</div>
	</div>
</div>

</template>