<template>
<div class="row justify-content-center">
	<div class="col-sm-5">

		<div class="rsection">
			<h5>Reimbursements</h5>
			<div class="form-group">
				<label class="light-label">Amount Remaining: </label> <span
					id="amountRemaining"></span>
			</div>
			<div class="form-group">
				<label class="light-label">Amount Awarded: </label> <span
					id="amountAwarded"></span>
			</div>
			<a class="btn btn-primary" href="../user/request.html">Make
				Request</a>
		</div>
		<br>
		<div class="rsection">
			<h6>My Current Requests</h6>

			<table class="table table-hover">
				<tbody id="tableBody">
					<tr>
						<td>no pending requests</td>
					</tr>
				</tbody>
			</table>

			<a class="btn btn-primary" href="../user/events.jsp">View All</a>
		</div>
	</div>

	<div class="col-sm-5">



		<div class="rsection">
			<h5>User Info</h5>
			<div class="form-group">
				<label class="light-label">Name:</label> <span id="empName"></span>
			</div>
			<div class="form-group">
				<label class="light-label">Role:</label> <span id="empRole"></span>
			</div>
			<div class="form-group">
				<label class="light-label">Email:</label> <span id="empEmail"></span>
			</div>
			<div class="form-group">
				<label class="light-label">Department:</label> <span id="empDept"></span>
			</div>
			<div class="form-group">
				<label class="light-label">Supervisor:</label> <span id="empSuper"></span>
			</div>

		</div>
	</div>
</div>
</template>
