<template id="userBody">
<div class="row justify-content-md-center">
	<div class="col-5">
		<h5>Reimbursements</h5>
		<div class="rsection">
			<h6 id="amountRemaining">amount remaining:</h6>
			<hr>
			<a class="btn btn-primary" href="./request.html">Make Request</a>
		</div>
		<br>
		<div class="rsection">
			<h6>Current Requests</h6>

			<table class="table table-hover" id="tableBody">
				<tr>
					<td>no pending requests</td>
				</tr>
			</table>

			<a class="btn btn-primary" href="./events.jsp">View All</a>
		</div>
	</div>

	<div class="col-5">

		<h5>User Info</h5>

		<div id="userInfo" class="rsection"></div>
		<script>
			
		</script>
	</div>
</div>

</template>

<template id="navBar">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<!-- Brand -->
	<a class="navbar-brand" href="#">Logo</a>
	<!-- Links -->
	<ul class="navbar-nav">
		<!-- Dropdown -->
		<li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
			href="#" id="navbardrop" data-toggle="dropdown"> Dropdown link </a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">User View</a> <a
					class="dropdown-item" href="#">Reimbursement Request</a> <a
					class="dropdown-item" href="#">Employee Requests</a><a
					class="dropdown-item" href="#">Supervisor View</a> <a
					class="dropdown-item" href="#">Reimbursement Confirm</a>
			</div></li>
	</ul>
</nav>
</template>