<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UsernameAndPasswordServvlet</display-name>
    <servlet-name>UsernameAndPasswordServvlet</servlet-name>
    <servlet-class>project01Servlets.UsernameAndPasswordServvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsernameAndPasswordServvlet</servlet-name>
    <url-pattern>/UsernameAndPasswordServvlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsernameAndPasswordLoginServlet</display-name>
    <servlet-name>UsernameAndPasswordLoginServlet</servlet-name>
    <servlet-class>project01Servlets.UsernameAndPasswordLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsernameAndPasswordLoginServlet</servlet-name>
    <url-pattern>/UsernameAndPasswordLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestServelet</display-name>
    <servlet-name>RequestServelet</servlet-name>
    <servlet-class>project01Servlets.RequestServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServelet</servlet-name>
    <url-pattern>/RequestServelet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SecurityFilter</display-name>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>project01Servlets.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutUtil</display-name>
    <servlet-name>LogoutUtil</servlet-name>
    <servlet-class>project01util.LogoutUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUtil</servlet-name>
    <url-pattern>/LogoutUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectServlet</display-name>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>project01util.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/RedirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>project01Servlets.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BenefitDownload</display-name>
    <servlet-name>BenefitDownload</servlet-name>
    <servlet-class>project01Servlets.BenefitDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BenefitDownload</servlet-name>
    <url-pattern>/BenefitDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>requestTable</display-name>
    <servlet-name>requestTable</servlet-name>
    <servlet-class>project01Servlets.requestTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestTable</servlet-name>
    <url-pattern>/requestTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestTableUser</display-name>
    <servlet-name>RequestTableUser</servlet-name>
    <servlet-class>project01Servlets.RequestTableUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestTableUser</servlet-name>
    <url-pattern>/RequestTableUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdditionalFilesServlet</display-name>
    <servlet-name>AdditionalFilesServlet</servlet-name>
    <servlet-class>project01Servlets.AdditionalFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdditionalFilesServlet</servlet-name>
    <url-pattern>/AdditionalFilesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DirectSupervisorApproval</display-name>
    <servlet-name>DirectSupervisorApproval</servlet-name>
    <servlet-class>project01Servlets.DirectSupervisorApproval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirectSupervisorApproval</servlet-name>
    <url-pattern>/DirectSupervisorApproval</url-pattern>
  </servlet-mapping>
</web-app>