<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<description></description>
  	<display-name>LoginServlet</display-name>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>	
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>SelectEmployee</display-name>
  	<servlet-name>SelectEmployee</servlet-name>
  	<servlet-class>servlets.SelectEmployee</servlet-class>
  </servlet>	
  <servlet-mapping>
  	<servlet-name>SelectEmployee</servlet-name>
  	<url-pattern>/SelectEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>SelectSupervisor</display-name>
  	<servlet-name>SelectSupervisor</servlet-name>
  	<servlet-class>servlets.SelectSupervisor</servlet-class>
  </servlet>	
  <servlet-mapping>
  	<servlet-name>SelectSupervisor</servlet-name>
  	<url-pattern>/SelectSupervisor</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>SelectHead</display-name>
  	<servlet-name>SelectHead</servlet-name>
  	<servlet-class>servlets.SelectHead</servlet-class>
  </servlet>	
  <servlet-mapping>
  	<servlet-name>SelectHead</servlet-name>
  	<url-pattern>/SelectHead</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>SelectHeadSupervisor</display-name>
  	<servlet-name>SelectHeadSupervisor</servlet-name>
  	<servlet-class>servlets.SelectHeadSupervisor</servlet-class>
  </servlet>	
  <servlet-mapping>
  	<servlet-name>SelectHeadSupervisor</servlet-name>
  	<url-pattern>/SelectHeadSupervisor</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>SelectCooperate</display-name>
  	<servlet-name>SelectCooperate</servlet-name>
  	<servlet-class>servlets.SelectCooperate</servlet-class>
  </servlet>	
  <servlet-mapping>
  	<servlet-name>SelectCooperate</servlet-name>
  	<url-pattern>/SelectCooperate</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>UpdateRequest</display-name>
  	<servlet-name>UpdateRequest</servlet-name>
  	<servlet-class>servlets.UpdateRequest</servlet-class>
  </servlet>	
  <servlet-mapping>
  	<servlet-name>UpdateRequest</servlet-name>
  	<url-pattern>/UpdateRequest</url-pattern>
  </servlet-mapping>
</web-app>