<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>trms</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

    <servlet>
	    <description></description>
	    <display-name>FrontController</display-name>
	    <servlet-name>FrontController</servlet-name>
	    <servlet-class>trms.servlet.FrontController</servlet-class>
	    <load-on-startup>1</load-on-startup>
  	</servlet>
  	<servlet>
  		<servlet-name>ApplicationForm</servlet-name>
  		<servlet-class>trms.servlet.ApplicationForm</servlet-class>
  	</servlet>
  
   <!-- <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>trms.servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>trms.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping> -->
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/FrontController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationForm</servlet-name>
  	<url-pattern>/ApplicationForm</url-pattern>
  </servlet-mapping>
</web-app>