<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>SecurityFilter</display-name>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>com.revature.filters.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/SecurityFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.revature.servlets.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitReimbursement</display-name>
    <servlet-name>SubmitReimbursement</servlet-name>
    <servlet-class>com.revature.servlets.SubmitReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReimbursement</servlet-name>
    <url-pattern>/SubmitReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmpCurrency</display-name>
    <servlet-name>GetEmpCurrency</servlet-name>
    <servlet-class>com.revature.servlets.GetEmpCurrency</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmpCurrency</servlet-name>
    <url-pattern>/GetEmpCurrency</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReimbursements</display-name>
    <servlet-name>GetReimbursements</servlet-name>
    <servlet-class>com.revature.servlets.GetReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReimbursements</servlet-name>
    <url-pattern>/GetReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovedReimbursements</display-name>
    <servlet-name>ApprovedReimbursements</servlet-name>
    <servlet-class>com.revature.servlets.ApprovedReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovedReimbursements</servlet-name>
    <url-pattern>/ApprovedReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeclinedReimbursements</display-name>
    <servlet-name>DeclinedReimbursements</servlet-name>
    <servlet-class>com.revature.servlets.DeclinedReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeclinedReimbursements</servlet-name>
    <url-pattern>/DeclinedReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveOrDeny</display-name>
    <servlet-name>ApproveOrDeny</servlet-name>
    <servlet-class>com.revature.servlets.ApproveOrDeny</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveOrDeny</servlet-name>
    <url-pattern>/ApproveOrDeny</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveServlet</display-name>
    <servlet-name>ApproveServlet</servlet-name>
    <servlet-class>com.revature.servlets.ApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveServlet</servlet-name>
    <url-pattern>/ApproveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeclineServlet</display-name>
    <servlet-name>DeclineServlet</servlet-name>
    <servlet-class>com.revature.servlets.DeclineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeclineServlet</servlet-name>
    <url-pattern>/DeclineServlet</url-pattern>
  </servlet-mapping>
</web-app>