<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.revature.servlets.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementServlet</display-name>
    <servlet-name>ReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.ReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementServlet</servlet-name>
    <url-pattern>/ReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectEmployee</display-name>
    <servlet-name>SelectEmployee</servlet-name>
    <servlet-class>com.revature.servlets.SelectEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectEmployee</servlet-name>
    <url-pattern>/SelectEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectReimbursement</display-name>
    <servlet-name>SelectReimbursement</servlet-name>
    <servlet-class>com.revature.servlets.SelectReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectReimbursement</servlet-name>
    <url-pattern>/SelectReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectSupervisorReimbursements</display-name>
    <servlet-name>SelectSupervisorReimbursements</servlet-name>
    <servlet-class>com.revature.servlets.SelectSupervisorReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSupervisorReimbursements</servlet-name>
    <url-pattern>/SelectSupervisorReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupervisorApproval</display-name>
    <servlet-name>SupervisorApproval</servlet-name>
    <servlet-class>com.revature.servlets.SupervisorApproval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupervisorApproval</servlet-name>
    <url-pattern>/SupervisorApproval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectDeptHeadReimbursements</display-name>
    <servlet-name>SelectDeptHeadReimbursements</servlet-name>
    <servlet-class>com.revature.servlets.SelectDeptHeadReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDeptHeadReimbursements</servlet-name>
    <url-pattern>/SelectDeptHeadReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptHeadApproval</display-name>
    <servlet-name>DeptHeadApproval</servlet-name>
    <servlet-class>com.revature.servlets.DeptHeadApproval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptHeadApproval</servlet-name>
    <url-pattern>/DeptHeadApproval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectBencoReimbursements</display-name>
    <servlet-name>SelectBencoReimbursements</servlet-name>
    <servlet-class>com.revature.servlets.SelectBencoReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectBencoReimbursements</servlet-name>
    <url-pattern>/SelectBencoReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BencoApproval</display-name>
    <servlet-name>BencoApproval</servlet-name>
    <servlet-class>com.revature.servlets.BencoApproval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BencoApproval</servlet-name>
    <url-pattern>/BencoApproval</url-pattern>
  </servlet-mapping>
</web-app>