<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Project_1_Diaz</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>FrontController</display-name>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>com.revature.servlets.FrontController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>SecurityFilter</display-name>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>com.revature.filter.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/SecurityFilter</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.revature.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ReimbursementFormServlet</display-name>
		<servlet-name>ReimbursementFormServlet</servlet-name>
		<servlet-class>com.revature.servlets.ReimbursementFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReimbursementFormServlet</servlet-name>
		<url-pattern>/ReimbursementFormServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>employeeServlet</display-name>
		<servlet-name>employeeServlet</servlet-name>
		<servlet-class>com.revature.servlets.employeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>employeeServlet</servlet-name>
		<url-pattern>/employeeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.revature.servlets.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SelectClams</display-name>
		<servlet-name>SelectClams</servlet-name>
		<servlet-class>com.revature.servlets.SelectClams</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectClams</servlet-name>
		<url-pattern>/SelectClams</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>updateReimbursementFormServlet</display-name>
		<servlet-name>updateReimbursementFormServlet</servlet-name>
		<servlet-class>com.revature.servlets.updateReimbursementFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateReimbursementFormServlet</servlet-name>
		<url-pattern>/updateReimbursementFormServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>updateReimbursementFormServlet2</display-name>
		<servlet-name>updateReimbursementFormServlet2</servlet-name>
		<servlet-class>com.revature.servlets.updateReimbursementFormServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateReimbursementFormServlet2</servlet-name>
		<url-pattern>/updateReimbursementFormServlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>updateReimbursementFormServlet3</display-name>
		<servlet-name>updateReimbursementFormServlet3</servlet-name>
		<servlet-class>com.revature.servlets.updateReimbursementFormServlet3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateReimbursementFormServlet3</servlet-name>
		<url-pattern>/updateReimbursementFormServlet3</url-pattern>
	</servlet-mapping>
</web-app>