<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Tuition</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.revature.servlets.FrontController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SecurityFilter</display-name>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>com.revature.filter.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.revature.servlets.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectEmployeeServlet</display-name>
    <servlet-name>SelectEmployeeServlet</servlet-name>
    <servlet-class>com.revature.servlets.SelectEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectEmployeeServlet</servlet-name>
    <url-pattern>/SelectEmployee.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.revature.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementPageServlet</display-name>
    <servlet-name>ReimbursementPageServlet</servlet-name>
    <servlet-class>com.revature.servlets.ReimbursementPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementPageServlet</servlet-name>
    <url-pattern>/ReimbursementPage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePageServlet</display-name>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>com.revature.servlets.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/HomePage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewFormServlet</display-name>
    <servlet-name>NewFormServlet</servlet-name>
    <servlet-class>com.revature.servlets.NewFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewFormServlet</servlet-name>
    <url-pattern>/NewFormServlet</url-pattern>
  </servlet-mapping>
  <error-page>
  <error-code>404</error-code>
  <location>/error.html</location>
  </error-page>
</web-app>