<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.revature.servlet.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SecurityFilter</display-name>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>com.revature.filter.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/manage/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventRequestServlet</display-name>
    <servlet-name>EventRequestServlet</servlet-name>
    <servlet-class>com.revature.servlet.EventRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventRequestServlet</servlet-name>
    <url-pattern>/user/EventRequest.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectUserEventsServlet</display-name>
    <servlet-name>SelectUserEventsServlet</servlet-name>
    <servlet-class>com.revature.servlet.SelectUserEventsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectUserEventsServlet</servlet-name>
    <url-pattern>/SelectUserEventsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.revature.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventApproveServlet</display-name>
    <servlet-name>EventApproveServlet</servlet-name>
    <servlet-class>com.revature.servlet.EventApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventApproveServlet</servlet-name>
    <url-pattern>/manage/EventApproveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventCommentServlet</display-name>
    <servlet-name>EventCommentServlet</servlet-name>
    <servlet-class>com.revature.servlet.EventCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventCommentServlet</servlet-name>
    <url-pattern>/manage/EventCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventChangeAwardServlet</display-name>
    <servlet-name>EventChangeAwardServlet</servlet-name>
    <servlet-class>com.revature.servlet.EventChangeAwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventChangeAwardServlet</servlet-name>
    <url-pattern>/manage/EventChangeAwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeValueServlet</display-name>
    <servlet-name>GradeValueServlet</servlet-name>
    <servlet-class>com.revature.servlet.GradeValueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeValueServlet</servlet-name>
    <url-pattern>/GradeValueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventGradeServlet</display-name>
    <servlet-name>EventGradeServlet</servlet-name>
    <servlet-class>com.revature.servlet.EventGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventGradeServlet</servlet-name>
    <url-pattern>/user/EventGradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventConfirmServlet</display-name>
    <servlet-name>EventConfirmServlet</servlet-name>
    <servlet-class>com.revature.servlet.EventConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventConfirmServlet</servlet-name>
    <url-pattern>/manage/EventConfirmServlet</url-pattern>
  </servlet-mapping>
</web-app>